.site {
	width: 80%;	
	margin-left: 10%;
}

.title {
	font: 25px helvetica, arial, clean, sans-serif;
	color: red;
    	border-bottom: 4px solid #eee;
    	margin-bottom: 1em;
}

 .title .extra {
    font-size: 50%;
 }

 .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 20%;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

sectitle, post_title{
  font-size: 150%;
  text-decoration: underline; 
  }

post_date {
  font-size: 80%;
  color: #666;
}
