<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es-ES">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>

<meta name="author" content="pho" />

<link rel="stylesheet" href="/css/main.css" type="text/css" />
</head>
<body>

<div class="site">
<div class="title">
<img src="images/header_cat.png"></img><a href="/">~pho</a>
</div>

{{ content }}

<div class="footer">
<div class="contact">
<p>
pho<br />
mail: pho@phofe.es<br />
JabberID: pho@jabberes.org
</p>
</div>
<div class="contact">
<p>
<a href="http://github.com/pho/">github.com/pho</a><br />
<a href="http://twitter.com/phofe/">twitter.com/phofe</a><br />
</p>
</div>
</div>
</div>

</body>
</html>
